<!--
  Generated template for the LendCdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>&nbsp;Fermer
      </button>
    </ion-buttons>

    <ion-title>{{ this.cd.titre }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5>Artiste : {{ this.cd.artiste }}</h5>

  <button ion-button color="danger"    [disabled]="!cd.estDisponible" (click)="cd.emprunter()">Emprunter</button>
  <button ion-button color="secondary" [disabled]="cd.estDisponible"  (click)="cd.rendre()">Rendre</button>
</ion-content>
