<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie fringilla leo, at porttitor dolor volutpat quis. Maecenas malesuada lobortis eros et gravida. Nulla facilisi. Nam sed risus sit amet augue blandit ultrices et eu nibh. Maecenas vehicula turpis id tellus pharetra placerat. Etiam luctus, erat id vestibulum malesuada, urna risus rutrum erat, eu ullamcorper eros ligula et massa. Aenean nec nisl consequat, faucibus sapien sed, fermentum enim. Curabitur laoreet bibendum posuere. Nulla in augue quis magna tincidunt ullamcorper id nec ipsum. Integer interdum tincidunt ligula, sit amet finibus elit scelerisque sit amet. Quisque rhoncus eros vel justo sollicitudin viverra. Vivamus nec vehicula lorem, bibendum tempor est. Proin fermentum ante ac convallis vestibulum. Donec turpis augue, dapibus non ante vel, hendrerit tempor purus. Mauris dapibus scelerisque blandit. Quisque tincidunt mi vitae magna lacinia, non ornare sapien commodo.</p>
  <p>Nunc convallis at nibh ac facilisis. Pellentesque tempor ligula sit amet neque ullamcorper posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus non posuere sapien. Cras tincidunt est non vehicula blandit. In egestas interdum elit, nec aliquet turpis consequat in. Integer commodo scelerisque massa sit amet posuere.</p>
  <p>Vestibulum in tempor quam, vel consequat odio. Nam sapien nulla, lobortis sit amet pulvinar sit amet, porta id enim. Phasellus interdum augue id dui porta, ac ornare enim rhoncus. Donec bibendum nisl pulvinar, pulvinar lorem at, rutrum arcu. Pellentesque fermentum tristique ipsum. Quisque vitae nisi ligula. Suspendisse commodo elit id est malesuada, sed imperdiet dui dictum. Donec sit amet luctus metus, vel tincidunt sem. Donec non sem egestas diam imperdiet rutrum. Mauris fringilla luctus eros, et dignissim arcu egestas at. Vestibulum in sollicitudin enim. Donec nec dolor viverra, auctor lacus ultrices, congue dui. Cras tempus consectetur ultrices.</p>
  <p>In hac habitasse platea dictumst. Praesent molestie vel diam euismod elementum. Sed quis cursus elit. Nam ultricies blandit placerat. Nullam diam velit, ultrices vel mi sodales, placerat facilisis nibh. Aliquam lacinia, enim vitae egestas viverra, nunc diam consequat est, vitae sodales purus arcu a nisl. In elementum suscipit interdum. Fusce accumsan suscipit massa, ut vulputate velit laoreet non. Fusce urna velit, mattis in massa eleifend, varius vestibulum orci. Vivamus urna massa, fringilla cursus lectus non, rhoncus lacinia lacus. Nam consectetur fringilla tellus non tempus.</p>
  <p>Nam facilisis iaculis sem. Suspendisse dapibus venenatis dolor, quis fermentum nulla tincidunt a. Morbi malesuada arcu non blandit consequat. Cras eget consectetur nibh. Aliquam malesuada vel felis vel iaculis. Maecenas scelerisque, ipsum ac efficitur dignissim, purus odio interdum justo, vel bibendum dui ex in purus. Aenean mi neque, laoreet vitae nunc at, congue pretium turpis.</p>
</ion-content>
