<!--
  Generated template for the BookListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Liste des livres</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let livre of this.livres" (click)="bookSelected(livre)" [ngClass]="{ 'indisponible': !livre.estDisponible }">
      {{ livre.titre }}<br>
      <i>{{ livre.auteur }}</i><br>
      {{ (livre.estDisponible) ? "Disponible" : "Indisponible" }}
    </button>  
  </ion-list>
</ion-content>
