<!--
  Generated template for the LendBookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>&nbsp;Fermer
      </button>
    </ion-buttons>

    <ion-title>{{ this.livre.titre }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5>Auteur : {{ this.livre.auteur }}</h5>

  <button ion-button color="danger"    [disabled]="!livre.estDisponible" (click)="livre.emprunter()">Emprunter</button>
  <button ion-button color="secondary" [disabled]="livre.estDisponible"  (click)="livre.rendre()">Rendre</button>
</ion-content>
